@{
    ViewData["Model"] = "Chức vụ";
    ViewData["Controller"] = "ChucVu"+"s";

}
<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="@ViewData["Controller"]">Bảng @ViewData["Model"]</h4>
    <div class="card-body">
        @Html.DropDownList("Id" + @ViewData["Controller"], null, htmlAttributes: new { @size = 6, @class = "form-control" })
    </div>
    <div class="card-footer">
        <a class="btn btn-primary text-white" onclick="showInPopup('@Url.Action("CreateOrEdit", ""+@ViewData["Controller"], 0, Context.Request.Scheme)','Thêm @ViewData["Model"] mới')"><i class="far fa-plus-square"></i> Thêm @ViewData["Model"]</a> |
        <a class="btn btn-success text-white" onclick="showInPopupCheckList('@ViewData["Controller"]','@Url.Action("CreateOrEdit", ""+@ViewData["Controller"], null, Context.Request.Scheme)','Sửa @ViewData["Model"]')"><i class="far fa-edit"></i> Sửa @ViewData["Model"]</a> |
        <form asp-action="Delete" asp-controller="@ViewData["Controller"]" onsubmit="return jQueryAjaxDeleteCheckList('@ViewData["Controller"]',this,'Xác nhận muốn xóa @ViewData["Model"] này không?')" class="d-inline">
            <button type="submit" class="btn btn-danger text-white"><i class="far fa-trash-alt"></i>  Xóa @ViewData["Model"]</button>
        </form>
    </div>
</div>
