@{
    ViewData["Model"] = "Quy định";
    ViewData["Controller"] = "QuyDinhs";

}
<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="@ViewData["Controller"]">Bảng @ViewData["Model"]</h4>
    <div class="card-body">
        <div class="row col-md-12">
            <strong>Loại quy định</strong>
        </div>
        <br />
        <div class="row col-md-12">
            <select id="IdLoaiQuyDinhsQD" name="IdLoaiQuyDinhsQD" class="form-control" asp-items="ViewBag.IdLoaiQuyDinhs"></select>
        </div>
        <br />
        <div class="row col-md-12">
            <strong>Quy định</strong>
        </div>
        <br />
        <div class="row col-md-12">
            @Html.DropDownList("Id" + @ViewData["Controller"], null, htmlAttributes: new { @size = 25, @class = "form-control" })
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary text-white" onclick="showInPopup('@Url.Action("CreateOrEdit", ""+@ViewData["Controller"], 0, Context.Request.Scheme)','Thêm @ViewData["Model"] mới')"><i class="far fa-plus-square"> Thêm @ViewData["Model"]</i> </a> |
        <a class="btn btn-success text-white" onclick="showInPopupCheckList('@ViewData["Controller"]','@Url.Action("CreateOrEdit", ""+@ViewData["Controller"], null, Context.Request.Scheme)','Sửa @ViewData["Model"]')"><i class="far fa-edit"> Sửa @ViewData["Model"]</i></a> |
        <form asp-action="Delete" asp-controller="@ViewData["Controller"]" onsubmit="return jQueryAjaxDeleteCheckList('@ViewData["Controller"]',this,'Xác nhận muốn xóa @ViewData["Model"] này không?')" class="d-inline">
            <button type="submit" class="btn btn-danger text-white"><i class="far fa-trash-alt"> Xóa @ViewData["Model"]</i></button>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('#IdLoaiQuyDinhsQD').change(function () {
        var selectedLoaiQuyDinh = $("#IdLoaiQuyDinhsQD").val();
        var URL = "QuyDinhs/GetQuyDinhs?IdLoaiQuyDinh=" + selectedLoaiQuyDinh;
        if ($('#IdQuyDinhs').length > 0)
            refreshDDL('IdQuyDinhs', URL, true, '');
    });
</script>