@{
    ViewData["Title"] = "Quản lý Đào tạo";
    Dictionary<string, string> listTab = new Dictionary<string, string>();
    listTab.Add("PhongTrungTams", "Phòng trung tâm");
    listTab.Add("ChucVus", "Chức vụ");
    listTab.Add("LoaiQuyDinhs", "Loại quy định");
    listTab.Add("QuyDinhs", "Quy định");
    listTab.Add("QuyDinhSiSoLopHocPhans", "Quy định sĩ số lớp học phần");
    listTab.Add("QuyDinhGioChuanThucHanhs", "Quy định giờ chuẩn thực hành");
    listTab.Add("LoaiCongViecs", "Loại công việc");
    listTab.Add("TrangThaiLamViecs", "Trạng thái làm việc");
    listTab.Add("DanhSachGiaoViens", "Quản lý Giáo viên");
    listTab.Add("GiaoViens", "Giáo viên chi tiết");

    string str = "";
    foreach (var item in listTab)
    {
        str += " case '" + item.Key.ToString() + @"Panel': $('#" + item.Key.ToString() + @"Panel').load('/QuanTris/" + item.Key.ToString() + @"');break;";
    }
}
<div id="Hahaha">
    <h2>Quản trị dữ liệu</h2>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li class="nav-item">
                <a href="#DefaultPanel" aria-controls="DefaultTab" role="tab" class="nav-link active" name="DefaultTab" data-toggle="tab" aria-selected="false"> </a>
            </li>
            @foreach (var item in listTab)
            {
                if (item.Key.ToString() == "GiaoViens")
                {
                    <li class="nav-item" id="@item.Key.ToString()" style="display:none">
                        <a href="#@item.Key.ToString()Panel" id="@item.Key.ToString()Tab" aria-controls="@item.Key.ToString()Tab" role="tab" class="nav-link" name="@item.Key.ToString()Panel" data-toggle="tab" aria-selected="false">@item.Value</a>
                    </li>
                }
                else
                {
                    <li class="nav-item" id="@item.Key.ToString()">
                        <a href="#@item.Key.ToString()Panel" id="@item.Key.ToString()Tab" aria-controls="@item.Key.ToString()Tab" role="tab" class="nav-link" name="@item.Key.ToString()Panel" data-toggle="tab" aria-selected="false">@item.Value</a>
                    </li>
                }

            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade ml-3 show active" id="DefaultPanel">
                <br />
                <h4>
                    Chọn nhiệm vụ cần thực hiện
                </h4>
            </div>
            @foreach (var item in listTab)
            {
                <div role="tabpanel" class="tab-pane fade ml-3" id="@item.Key.ToString()Panel" aria-labelledby="@item.Key.ToString()-Panel">
                    <br />
                </div>
            }
        </div>
    </div>
    <hr />
    <br />
</div>

@section Scripts {
    <script type="text/javascript">
        function refreshTab(activeTab) {
            switch (activeTab) {
                @Html.Raw(@str)
                default: break;
            };
            if (activeTab == "GiaoViensPanel") {
                $('#GiaoViens').show();
            }
            else {
                $('#GiaoViens').hide();
            }
            return;
        };
        $('.nav-link').click( function () {
            var activeTab = $(this).attr("name");
            refreshTab(activeTab);
        });
        $(function () {
            setTimeout(function () {
                $("#@ViewData["Tab"]").trigger('click');
            }, 3);
        });
    </script>

}
